body {
    font-family: "Nunito Sans" !important;
}

a {
    color: white !important;
}

img {
    border-radius: 8px;
}


.discount-span {
    background-color: rgba(255, 0, 0, 0.321);
    border: solid;
    font-size: small;
    border-radius: 5px;
    margin-top: 6px;
}

i {
    font-size: x-large;
}

.color-btn {
    width: 30px;
    height: 30px;
}

.blue-btn:focus{border: 2px solid black;}
.dark-btn:focus{border: 2px solid red;}
.red-btn:focus{border: 2px solid black;}

input{
    padding: 5px;
    border: solid rgba(128, 128, 128, 0.5) 1px;
    border-color: none !important;
    outline: none;
}

input:focus{
    border: solid 1px;
    border-color: green !important;
}


